<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/notices.css}">
</head>
<body>
    <div class="container">
        <div class="page-title">
            <h1>공지사항</h1>
        </div>

        <div class="action-buttons" sec:authorize="hasAnyAuthority('SERVICE_ADMIN', 'TEAM_ADMIN')">
            <a href="#" class="btn btn-primary" id="notice-create">
                <i class="fas fa-pencil-alt"></i> 글쓰기
            </a>
        </div>

        <div class="notice-category">
            <button class="category-btn active" data-category="all">전체</button>

            <button th:each="category : ${categories}" class="category-btn" th:data-category="${category.id}" th:text="${category.name}">
            </button>
        </div>

        <div class="search-box">
            <input type="text" placeholder="공지사항 검색" class="search-input">
            <button class="search-btn">
                <i class="fas fa-search"></i>
            </button>
        </div>

        <div th:if="${#lists.isEmpty(notices)}" class="no-data">
            <p>등록된 공지가 없습니다.</p>
        </div>

        <div th:unless="${#lists.isEmpty(notices)}" class="notice-list">
            <article th:each="notice: ${notices}" class="notice-item" th:data-category="${notice.categoryId}" th:data-id="${notice.id}">
                <div th:class="'notice-category ' + ${notice.category.markColor.name().toLowerCase()} + '-badge'" th:text="${notice.category.name}"></div>
                <div class="notice-content">
                    <h3 class="notice-title" th:text="${notice.title}">제목을 불러오지 못했어요.</h3>
                    <p class="notice-summary" th:text="${notice.content}">내용을 불러오지 못했어요.</p>
                    <div class="notice-meta">
                        <span class="notice-date"><i class="far fa-calendar-alt"></i> [[${#temporals.format(notice.createdAt.atZoneSameInstant(T(java.time.ZoneId).of('Asia/Seoul')), 'yyyy-MM-dd')}]]</span>
                        <span class="notice-views"><i class="far fa-eye"></i> [[${#numbers.formatInteger(notice.viewCount, 1, 'COMMA')}]]</span>
                    </div>
                </div>
                <div class="notice-icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </article>
        </div>
    </div>

    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>

    <script type="module" th:src="@{/js/see-more/notices.js}" defer></script>
</body>
</html> 